# The Zilliqa Swift SDK
github "OpenZesame/Zesame" "master"

# Drivng TableViews and CollectionView reactivly
github "RxSwiftCommunity/RxDataSources"

# Autolayout easy
github "roberthein/TinyConstraints"

# Simple field validation
github "ustwo/formvalidator-swift"

# Generate QR code
github "EyreFree/EFQRCode"

# Keychain made simple
github "evgenyneu/keychain-swift"