# The Zilliqa Swift SDK
github "OpenZesame/Zesame" "master"

# Drivng TableViews and CollectionView reactivly
github "RxSwiftCommunity/RxDataSources"

# Autolayout easy
github "roberthein/TinyConstraints"

# Input validation
github "Sajjon/SwiftValidator"

# Generate QR code
github "EyreFree/EFQRCode"

# Keychain made simple
github "evgenyneu/keychain-swift"