#include "../../Configurations/zupreme-shared.xcconfig"
#include "../../Configurations/base_apps.xcconfig"
#include "../../Configurations/base_tests.xcconfig"

INFOPLIST_FILE = Tests/SupportingFiles/Zupreme-Tests-Info.plist
BUNDLE_LOADER[sdk=iphonesimulator*][config=Debug] = $(BUILT_PRODUCTS_DIR)/$(_APP_NAME).app/$(_APP_NAME)
TEST_HOST[sdk=iphonesimulator*] = $(BUNDLE_LOADER)
ENABLE_TESTABILITY = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
