#include "../../../Configurations/Zhip-shared.xcconfig"
#include "../../../Configurations/base_apps.xcconfig"

SDKROOT = iphoneos

PRODUCT_BUNDLE_IDENTIFIER = com.openzesame.zhip
PRODUCT_NAME = $(_APP_NAME)

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks
INFOPLIST_FILE = Source/Application/Zhip-Info.plist

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

ENABLE_TESTABILITY = YES

CODE_SIGN_IDENTITY[config=Debug] = iPhone Developer
CODE_SIGN_IDENTITY[config=Release] = iPhone Distribution
DEVELOPMENT_TEAM = S33QJG3B86
PROVISIONING_PROFILE_SPECIFIER[config=Debug] = match Development com.openzesame.zhip
PROVISIONING_PROFILE_SPECIFIER[config=Release] = match AppStore com.openzesame.zhip
